/**
 * Selections
**/
::selection{ background: @highlight; color: @claro; }
::-moz-selection { background: @highlight; color: @claro; }

/**
 * HTML general elements
**/
body{ background: #fff; .font; }