/**
 * When in a "single", the main-wrapper padding top 0
**/
body.single{
	.main-wrapper{
		padding-top: 0 !important;
	}
}




/*------------------------------------*\
    #CONTENT
\*------------------------------------*/
.single-content{
	.clearfix;
}
.single-content p{
	margin: 0 auto 1em auto;
}

.single-content ul{
	list-style: none;
}

.single-content li{
	margin: 0 0 1em 0;
	.font( 20px, 30px, normal, 'cassia light' );
}

.single-content-image{
	display: block;
	max-width: 100%;
	margin: 0 auto @unidad auto;
}

.single-content iframe{}
.single-content .gallery{}


/**
 * Image captions
**/
.wp-caption{ width: 100% !important; }