/*------------------------------------*\
	#IMAGES
\*------------------------------------*/


/**
 * Absolute size
**/
.square{
	padding-bottom: 100%;
}
.rectangle{
	padding-bottom: 50%;
}


/**
 * Relative to screen size
**/
.full-height{
	display: block;
	width: auto; max-width: 100%; height: auto; max-height: calc( ~'100vh - 60px' );
	margin-right: auto;
	margin-left: auto;
}

.media-info{
	position: absolute;
}

.media-info--small{
	padding: (@unidad/2);
	bottom: 0;
}
.media-info--large{
	padding: (@unidad);
	bottom: (@unidad/2);
}





/*------------------------------------*\
    #RESULTS
\*------------------------------------*/

.result{
	//padding-left: 10px; padding-right: 10px;
	position: relative;
}
.result .media-info > p{ margin: 0; }




/*------------------------------------*\
    #MEDIUM
\*------------------------------------*/
@media (min-width: @medium) {

	/**
	 * Absolute size
	**/
	.square-absolute{
		padding-bottom: 100%;
	}
	.rectangle-absolute{
		padding-bottom: 50%;
	}


	/**
	 * Relative to screen size
	**/
	.square{
		padding-bottom: calc( ~'100vh - 80px' );
	}
	.rectangle{
		padding-bottom: calc( ~'50vh - 80px' );
	}

	.full-height{
		width: auto; height: calc( ~'100vh - 80px' );
	}

}


